<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="bootstrap/css/fontawesome-all.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap/css/mdb.css">
    <link rel="stylesheet" href="bootstrap/css/style.css">
    

    <style type="text/css">
   
    .customDiv{
        padding: 15px;
        font-size: 18px;
        min-height: 50px;
        background: #dbdfe5;
        margin-bottom: 10px;
        
                    
    }
        
         .customDiv1{
        padding: 15px;
        font-size: 18px;
        min-height: 300px;
        background: #dbdfe5;
        margin-bottom: 10px;
   
</style>
    </head>
    <body>
    
        <div class="container">
        <div class="row">
        <div class="col-md-12 mt-2">
        <div class="customDiv"></div>
        </div>
        </div>
        </div>
        
        

        
        
        <div class="container">
        <div class="row">
        <div class="col-md-2 ">
        <div class="customDiv1"></div>
        </div>
        <div class="col-md-8">
        <div class="customDiv1"></div>
        </div>
        <div class="col-md-2">
        <div class="customDiv1"></div>
        </div>
            
         </div>
        </div>
        
        <div class="container">
        <div class="row">
        <div class="col-md-12">
            <div class="customDiv"></div>
        </div>
        </div>
        </div>
    
    
        
        
        
    </body>