<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="bootstrap/css/fontawesome-all.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap/css/mdb.css">
    <link rel="stylesheet" href="bootstrap/css/style.css">
    

    <style type="text/css">
        .customDiv1{
            text-align:center;
        }
        
        
    </style>
    
    </head>
    <body>
        <nav class="navbar navbar-dark navbar-expand-sm bg-dark  mt-2">
        <div class="container">
            <a  href="#" class="navbar-brand">
                Start Bootstrap </a>
            <div class="collapse navbar-collapse" id="simpleNavBar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a  href="#" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">About</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Services</a>
                    </li>
                    <li class="nav-item">
                        <a  href="#" class="nav-link">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
        
        <div class="container">
        <div class="row">
        <div class="col-md-12">
        <div class="customDiv"></div>
        </div>
        
            <h2>About Us it's Nice To Meet You!</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ullamcorper nisl suscipit pellentesque efficitur. Duis blandit rhoncus sapien in fringilla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce venenatis elit a aliquet ultrices. Duis tempus nibh vel turpis consectetur, vel porta augue condimentum. Suspendisse potenti. Donec sed elit velit. Nulla ultricies ipsum in sodales gravida. Maecenas tempor nisi ipsum, sed semper purus rutrum nec.</p>
            
            <h1>Our Team</h1>
        
        
        <div class="container">
        <div class="row">
        <div class="col-md-4">
        <div class="customDiv1">
            <img src="bootstrap/img/1.jpg" class="rounded-circle" width="100px" height="100px">
            <h4>John Smith job title</h4>   
            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p>
            </div>
            </div>
            
            
            <div class="col-md-4">
            <div class="customDiv1">
            <img src="bootstrap/img/1.jpg" class="rounded-circle" width="100px" height="100px">
            <h4>John Smith job title</h4>   
            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p>
                </div>
            </div>
            
            
            <div class="col-md-4">
            <div class="customDiv1">
            <img src="bootstrap/img/1.jpg" class="rounded-circle" width="100px" height="100px">
            <h4>John Smith job title</h4>   
            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p>
                </div>
                </div>
            </div>
            </div>
            
            
            
                    <div class="container">
        <div class="row">
        <div class="col-md-4">
        <div class="customDiv1">
            <img src="bootstrap/img/1.jpg" class="rounded-circle" width="100px" height="100px">
            <h4>John Smith job title</h4>   
            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p>
            </div>
            </div>
            
            
            <div class="col-md-4">
            <div class="customDiv1">
            <img src="bootstrap/img/1.jpg" class="rounded-circle" width="100px" height="100px">
            <h4>John Smith job title</h4>   
            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p>
                </div>
            </div>
            
            
            <div class="col-md-4">
            <div class="customDiv1">
            <img src="bootstrap/img/1.jpg" class="rounded-circle" width="100px" height="100px">
            <h4>John Smith job title</h4>   
            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p>
                </div>
                </div>
            </div>
            </div>
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
    </body>